<a href="https://colab.research.google.com/github/Shahidshaikh25/Assignments/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.What are the two values of the Boolean data type? How do you write them?**

**Ans 1:**

**True** \
**False** \
Initial letter "T" and "F" in upper case and the rest letter in lower case

**2. What are the three different types of Boolean operators?**

**Ans 2:** \
**and**, **or** and **not** operators

**3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate )**

**Ans 3:**

True and True is True.

True and False is False.

False and True is False.

False and False is False.

True or True is True.

True or False is True.

False or True is True.

False or False is False.

not True is False.

not False is True.

True is 1 and False is 0 \
Truth Table for AND \
A B output \
0 0 0 \
0 1 0 \
1 0 0 \
1 1 1 \
Truth Table for OR \
A B output \
0 0 0 \
0 1 1 \
1 0 1 \
1 1 1 \
Truth Table for NOT \
A output \
0 1 \
1 0

**4. What are the values of the following expressions?**

**Ans 4:**

In [41]:
(5 > 4) and (3 == 5)

False

In [42]:
not (5 > 4)

False

In [43]:
(5 > 4) or (3 == 5)

True

In [44]:
not ((5 > 4) or (3 == 5))

False

In [45]:
(True and True) and (True == False)

False

In [46]:
(not False) or (not True)

True

**5. What are the six comparison operators?**

**Ans 5:** \
==, !=, <, >, <=, and >=.

**6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.**

**Ans 6:** \
"==" is the equal to operator that compare the two values and evaluates to a Boolean (either True or false), whereas "=" is the assignment operator that stores a value in a variable.

**7. Identify the three blocks in this code:**
spam = 0 \
if spam == 10: \
print('eggs') \
if spam > 5: \
print('bacon') \
else:
print('ham') \
print('spam') \
print('spam')

**Ans 7:**

In [47]:
spam = 0
if spam == 10:
    print('eggs') #Block 1
if spam > 5:
    print('bacon') #Block 2
else:
    print('ham') #Block 3
    print('spam')
    print('spam')

ham
spam
spam

**8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.**

**Ans 8:**

In [50]:
spam = int(input("Enter a number: " ))

if spam == 1:
  print("Hello")
elif spam == 2:
  print("Howdy")
else:
  print("Greetings!")

Enter a number: 1
Hello

**9.If your programme is stuck in an endless loop, what keys you’ll press?**

**Ans 9:** \
If program is stuck in endless loop we will press ctrl+c.

**10. How can you tell the difference between break and continue?**

**Ans 10:** \
The break statement will move the execution outside and just after a loop. The continue statement will move the execution to the start of the loop.

In [36]:
# use of break
for i in range(10):
    if(i==7):
        break
    print(i)
print("breaked")

0
1
2
3
4
5
6
breaked

In [37]:
#use of  continue
for i in range(10):
    if(i==7):
        continue
    print(i)

0
1
2
3
4
5
6
8
9

**11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?**

**Ans 11:** \
The Output will be the same. The range(10) call ranges from 0 up to (but not including) 10, range(0, 10) explicitly tells the loop to start at 0, and range(0, 10, 1) tells the loop to increase the variable by 1 on each iteration.

In [38]:
for i in range(10):
    print(i)
print("------------------------------")
for i in range(0,10):
    print(i)
print("------------------------------")
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
------------------------------
0
1
2
3
4
5
6
7
8
9
------------------------------
0
1
2
3
4
5
6
7
8
9

**12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.**

**Ans 12:**

In [40]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
a = 1
while a <= 10:
  print(a)
  a += 1

1
2
3
4
5
6
7
8
9
10

**13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?**

**Ans 13:**

This function can be called as "spam.bacon()".