<a href="https://colab.research.google.com/github/Shahidshaikh25/Assignments/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Q.1. What are keywords in python? Using the keyword library, print all the python keywords.**

**Ans 1:**

Keywords in Python are reserved words that cannot be used as ordinary identifiers.
They are used to define the syntax and structure of the Python language.

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Q.2. What are the rules to create variables in python?**

**Ans 2:**

The first character of the variable can be an alphabet or (_) underscore.

Special characters (@, #, %, ^, &, *) should not be used in variable name.

Variable names are case sensitive. For example - age and AGE are two different variables.

Reserve words cannot be declared as variables.

**Q.3. What are the standards and conventions followed for the nomenclature of variables in
python to improve code readability and maintainability?**

**Ans 3:**

Use grammatically correct variable names, the class name should start with an uppercase and must follow camelCase convention If more than two words are to be used. In the same way, a function name should be joined with an underscore, and it must be lowercase.

In method arguments, always use self as the first argument to declare an instance variable. In the same way, use ‘cls’ for the first argument for the class method. If the function name clashes with a reserved argument, use an underscore instead of a wrong spelling.

Constants are declared in all capital letters.

**Q.4. What will happen if a keyword is used as a variable name?**

**Ans 4:**

In [ ]:
True = 15

SyntaxError: ignored

keywords are special words that have a meaning in Python, so we cannot use them as variable names. We will get a 'SyntaxError' if we try to do that

**Q.5. For what purpose def keyword is used?**

**Ans 5:**

The **def** keyword is used to create, or define a function.

In [ ]:
def greeting():
    print("Hello")
greeting()

Hello

**Q.6. What is the operation of this special character ‘\’?**

**Ans 6:**

Special character '\' is called as Escape Sequences.

escape sequence is a sequence of characters with special meaning when used inside a string or a character.

\'	Prints a single quote inside a string enclosed with single quotes.

\"	Prints a double quote inside a string enclosed with double-quotes.

\n	Prints the succeeding part of \n even if in the same line, in a new line

**Q.7. Give an example of the following conditions:**

**(i) Homogeneous list**

**(ii) Heterogeneous set**

**(iii) Homogeneous tuple**

**Ans 7:**

**Homogeneous:** It only contains a single type of data.
**Heterogeneous:** It can be of any type numeric, string, boolean, objects, etc

In [3]:
#Homogeneous list
a = ["apple", "guava", "grapes", "watermelon"]

#Heterogeneous set
b = {"king", 21, (1, 2, 3), True}

#Homogeneous tuple
c = (21, 22, 45, 53)

**Q.8. Explain the mutable and immutable data types with proper explanation & examples.**

mutable data types in Python are those whose value can be changed in place after they have been created.

Python mutable data types:

Lists

Dictionaries

Sets

In [6]:
#list
my_list = [1,2,3,4,5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [10]:
#Dictionaries
my_dict = {"name": "shahid", "age": 21, "country": "india"}
my_dict["state"] = "mumbai"
print(my_dict)

{'name': 'shahid', 'age': 21, 'country': 'india', 'state': 'mumbai'}

In [12]:
#Set
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

immutable data type, we cannot change or update it.

Python immutable data types: Tuple

In [16]:
#Tuple
my_tup = ('hello', 'welcome', 'python')
my_tup[2] = 'by'
#If we try to change or assign the item it will throw an Error

TypeError: ignored

**Q.9. Write a code to create the given structure using only for loop.**

In [18]:
     *
    ***
   *****
  *******
 *********

In [39]:
# Ans 9:
rows = 5

for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end="")

    for k in range(2 * i + 1):
        print("*", end="")

    print()

    *
   ***
  *****
 *******
*********

**Q.10. Write a code to create the given structure using while loop.**

In [ ]:
|||||||||
 |||||||
  |||||
   |||
    |

In [4]:
row = 5
while row >= 1:

    i = 5 - row
    while i > 0:
        print(" ", end="")
        i -= 1


    j = row * 2 - 1
    while j > 0:
        print("|", end="")
        j -= 1

    print()

    row -= 1

|||||||||
 |||||||
  |||||
   |||
    |