<a href="https://colab.research.google.com/github/Shahidshaikh25/Assignments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. What exactly is []?**

**Ans 1:** \
The empty list value, which is a list value that contains no items.

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

**Ans 2:**

In [55]:
spam = [2, 4, 6, 8, 10]

spam[2] = "hello"
print(spam)

[2, 4, 'hello', 8, 10]

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.** \

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

**Ans 3:**

In [56]:
spam = ['a', 'b', 'c', 'd']


print(spam[int(int('3' * 2) / 11)])

d

**4. What is the value of spam[-1]?**

**Ans 4:**

In [57]:
print(spam[-1])

d

**5. What is the value of spam[:2]?**

**Ans 5:**

In [58]:
print(spam[:2])

['a', 'b']

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

**6. What is the value of bacon.index('cat')?**

**Ans 6:**

In [59]:
bacon = [3.14, 'cat', 11, 'cat', True]

print(bacon.index('cat'))

1

**7. How does bacon.append(99) change the look of the list value in bacon?**

**Ans 7:**

In [60]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

**8. How does bacon.remove('cat') change the look of the list in bacon?**

**Ans 8:**

In [61]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

**9. What are the list concatenation and list replication operators?**

**Ans 9:**

The operator for list concatenation is +, while the operator for replication is *.

In [62]:
letter_list = ['A', 'B', 'C']
number_list = [1, 2, 3]

print(letter_list + number_list)
print(number_list * 4)

['A', 'B', 'C', 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

**10. What is difference between the list methods append() and insert()?**

**Ans 10:**

**append()** will add values only to the end of a list, **insert()** can add them anywhere in the list.

In [63]:
bacon = [3.14, 'cat', 11, 'cat', True]

bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

In [64]:
bacon.insert(1, 66)
print(bacon)

[3.14, 66, 'cat', 11, 'cat', True, 99]

**11. What are the two methods for removing items from a list?**

**Ans 11:**

The **del** statement and the **remove(**) list method are two ways to remove values from a list.

In [65]:
#remove()
bacon = [3.14, 66, 'cat', 11, 'cat', True, 99]
bacon.remove(99)
print(bacon)

[3.14, 66, 'cat', 11, 'cat', True]

In [66]:
#del
bacon = [3.14, 66, 'cat', 11, 'cat', True, 99]
del bacon[1]
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

**12. Describe how list values and string values are identical.**

**Ans 12:**

Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.

**13. What's the difference between tuples and lists?**

**Ans 13:**

Lists are mutable; they can have values added, removed, or changed. lists use the square brackets, [ and ].

Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, ( and ).

**14. How do you type a tuple value that only contains the integer 42?**

**Ans 14:**

In [67]:
a = (42,)
print(a)

(42,)

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

**Ans 15:**

The **tuple()** and **list()** functions, respectively.

In [68]:
# tuple to list
a = (12, "king", 99)
print(list(a))

[12, 'king', 99]

In [69]:
# tuple to list
a = [12, "king", 99]
print(tuple(a))

(12, 'king', 99)

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

**Ans 16:**

They contain references to list values.

**17. What is the difference between copy.copy() and copy.deepcopy()?**

**Ans 17.**

The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.