<a href="https://colab.research.google.com/github/Shahidshaikh25/Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.**

**Ans 1:**

**Values:** 'hello',-87.8, 6

**Expressions:** *, -, /, +


**2. What is the difference between string and variable?**

**Ans 2:**

**String** is data type.

**Variables** are symbols to define or a data.

**3. Describe three different data types.**

**Ans 3:**

**Strings:** Strings in Python are sequences of character data. They are created by enclosing characters in quotes.

In [ ]:
# Example
a = "My name is shahid"
print(a)

My name is shahid

**Integer:** Integers are whole numbers, without a fractional component. They can be positive or negative.

In [ ]:
# Example
a = 254
b = -350

**Tuples:** Tuple is an ordered collection of items. it is immutable. A tuple is created by placing elements inside parentheses () and separated by commas. it is also heterogeneous. tuple can contain diffrent data types like integers, list, float, string and dictionaries.

In [ ]:
# Example
a = (1, 2, 3.2, "hello")
print(a)

(1, 2, 3.2, 'hello')

**4. What is an expression made up of? What do all expressions do?**

**Ans 4:**

 Expression is a combination of values, variables, operators, and calls to functions.

Expressions produces some other values.

In [ ]:
# Example
exp = 4 + 4
print(exp)

8

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

**Ans 5:**

Expressions produce a value.
Statements don't produce a value.

**6. After running the following code, what does the variable bacon contain?**\
bacon = 22 \
bacon + 1

**Ans 6:**

The output will be 22 + 1 = 23

In [ ]:
bacon = 22
bacon + 1

23

**7. What should the values of the following two terms be?**\
'spam' + 'spamspam'\
'spam' * 3

**Ans 7:**

In [ ]:
'spam' + 'spamspam'

'spamspamspam'

In [ ]:
'spam'*3

'spamspamspam'

Output of both the expressions is same.  'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

**Ans 8:** \
Variable names can't begin with a number(digit). \
Variables must start with a letter or the underscore character, but not with a number(digit).

In [ ]:
# Example
#100 = 25
#print(100)

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

**Ans 9:**

integer = int() \
floating-point number = float() \
string = str()

**10. Why does this expression cause an error? How can you fix it?** \
'I have eaten ' + 99 + ' burritos.'

**Ans 10:**

The Expression cause an error because 99 is an integer. \
The correct way to do is using 99 as a string by using str() function

In [ ]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'